ul {
  background:#9932CC;
  padding: 20px;
  height: 506px;
  border-radius: 50px;
}

ul li {
  background:#8FBC8F;
  margin: 5px;
}
.heroes li.selected {
  background-color: #CFD8DC;
  color: white;
}
.heroes li:hover{
  background: #CFD8DC;
}
label span{
  font-weight: bold;
  font-size: large;
}
li {
  border-radius: 9px;
  height: 45px;
  width: 98%;
  text-align: center;
}
